@use "../abstracts";
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


*,
::before,
::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 150%;
    font-family: "Open Sans", sans-serif;
    color: #000;
    background: #fff;
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}
